<!doctype html>
<html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400">
    <title><%= current_page.data.title || "Matthew Tole" %></title>
    <% if current_page.data.description %><meta name="description" content="<%= current_page.data.description %>"><% end %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
</head>
<body class="<%= page_classes %>">
<%= yield %>
</body>
</html>
